.imagesList{
    width: 100%;
   padding: 20px 0px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.each-image{
    display: flex;
    flex: 1;
    height: 160px;
    background-position: center;
    background-size: cover;
    min-width: 150px;
    cursor: pointer;
    transition: all 0.5s;
}
.each-image:hover{
    border-bottom: 3px solid red;
    transform:scale(1.06);
}


